<ion-view title="EasyFood">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<ion-list>
	  <ion-item ng-repeat="restaurant in restaurants" class="item-thumbnail-left" ng-click="selectRestaurant(restaurant)">
        <img src="http://lorempixel.com/80/80/food/?{{restaurant.id}}">
        <h2>{{restaurant.name}}</h2>
        <p>30-50 Minutos <br>Mínimo: Bs.{{restaurant.minimun_order}} | {{restaurant.distance/1000| number : 1}}km<br>
        {{restaurant.location.address}}          
        </p>
	  </ion-item>
	</ion-list>    
  </ion-content>
</ion-view>
