<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button icon ion-bag">
        <span class="badge badge-assertive" ng-show="bag_length() > 0">{{bag_length()}}</span>
        </button>
        <ion-list>          
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Easy Food</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/explore">
          Find your Food
        </ion-item>        

        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>

        <ion-item nav-clear menu-close ng-click="login()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-stable">
      <h1 class="title">My Bag</h1>
    </header>
    <ion-content class="has-header">
    <h3>{{my_bag.getRestaurant().name}}</h3>

      <ion-list ng-show="my_bag.getItems().length > 0">
        <ion-item ng-repeat="item in my_bag.getItems()" class="item " ng-click="selectRestaurant(restaurant)">
            {{item.quantity}}x {{item.menu_item.name}}
            <span class="item-note">
            {{item.menu_item.price}} Bs.</span>
        </ion-item>  
        <li class="item">
          <strong>Total:</strong>
          <span class="item-note"><strong>{{my_bag.getTotal()}} Bs.</strong></span>
          <button class="button button-block button-positive">
            Checkout
          </button>
        </li>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
