<ion-view title="{{restaurant.name}}">
  <ion-content class="has-header">
    <ion-list>      
      <li ng-hide="menu.length">Menu :(</li>
    	<div ng-repeat-start="section in menu">
    		<ion-item class="item item-divider">
    			{{section.name}}
    		</ion-item>
			<a class="item" ng-repeat="item in section.menu_items" href="#/app/item/{{item.id}}?r={{section.restaurant_id}}">
    			{{item.name}}
    			<span class="item-note">
      			{{item.price}} Bs
    			</span>
  		</a>
    	</div>    		
    	<div ng-repeat-end=""></div>
	</ion-list>
  </ion-content>
</ion-view>
